body {
  height: 100%;
  background: #19bce6;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: white;
}

#game {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 3px #fcef00;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.piece.player1 {
  background-color: #fc000d;
}

.piece.player2 {
  background-color: #000dfc;
}

button {
  border-radius: 10px;
  border-color: black;
  background-color: white;
  height: 50px;
  width: 150px;
  font-size: 22px;
  font-weight: bold; 
  font-family: sans-serif;
}

#buttonCont {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: #fcef00;
}
